.HomePage {
    margin: 10px;
    &_Heading {
        margin: 10px;
    }
}

.Carousel {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.ProductList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 50px;

    &_Img {
        width: 300px;
    }
}
